@media only screen and (min-width: 920px) {
    .main-container {
        width: 900px;
    }
    .item2 {
        background-image: url("./src/opcion1_responsive.jpg");
    }
    .item3 {
        background-image: url("./src/opcion2_responsive.jpg");
    }
    .item4 {
        background-image: url("./src/opcion3_responsive.jpg");
    }
}